%ul
  - question.answers.each do |answer|
    %li
      = radio_button_tag "question[update_answers][radio_button]", answer.id, answer.value == 'true', :disabled => disabled
      = answer.content
      = answer.points if disabled and answer.value == 'true'