= generate_hint(question.answers.first.value) unless disabled
= text_field_tag "question[update_answers][text_field]", question.answers.first.value, :disabled => disabled
= question.answers.first.points if disabled