- semantic_form_for [@exam, @question] do |f|
  = @question.content
  = f.input :state_event, :as => :hidden, :value => 'visit'
  = render :partial => @question.teacher_question.question_type, :locals => { :question => @question }
  - f.buttons do
    = f.commit_button