- semantic_form_for [@exam, @question] do |f|
  = @question.content
  - @question.answers.each do |answer|
    = radio_button_tag "question[update_answers][value]", answer.id, answer.value == 'true'
    = answer.content
  - f.buttons do
    = f.commit_button