.block
  .hd
    %h1 Questions
  .bd
    %h2
      Score:
      = @exam.sum_points
    %ul.list
      - @questions.each do |question|
        %li
          = render :partial => question.teacher_question.question_type, :locals => { :question => question, :disabled => true }
= render :partial => 'sidebar/exams'