.block
  .hd
    %h1 Listing students
  .bd
    %h2
      = link_to "Create student", new_student_path
      = link_to "Import students", new_student_import_path
    %table
      %thead
        %tr
          %td
            Login
          %td
      %tbody
        - @students.each do |student|
          %tr
            %td
              = h student.login
            %td.text-right
              = link_to 'Destroy', student, :method => :delete