.block
  .hd
    %h1 Listing students
  .bd
    %table
      %thead
        %tr
          %td
            Login
          %td
      %tbody
        - @students.each do |student|
          %tr
            %td
              = h student.login
            %td.text-right
              = link_to 'Destroy', student, :method => :delete
= render :partial => 'sidebar/students'