@import rounded.sass
=block(!block_background= #7a1818, !header_color=#fff)
  .block
    margin-bottom: 1.5em
    .hd
      +rounded
      background-color= !block_background
      padding: 0.7em 1em
      color= !header_color
      border-bottom: 10px solid #262626
      h1, h2, h3
        font-size:100%
        margin-bottom:0
        color= !header_color
    .bd
      padding: 1em
      background-color: #fff
      h2
        color= !block_background
      h3
        color= !block_background
      a
        +link-colors(!block_background)