=block(!block_background= #7a1818)
  .block
    margin-bottom: 1.5em
    .hd
      background-color= !block_background
      padding: 0.7em 1em
      color: #fff
      border-bottom: 10px solid #262626
      h2, h3
        font-size:100%
        margin-bottom:0
      h1
        color: #fff
    .bd
      padding: 1em
      background-color: #fff
      h2
        color= !block_background
      h3
        color= !block_background