=formtastic-changes
  #errorExplanation
    li
      :margin-left 15px
  form p, .errors
    :padding 3px 0px
  .required
    input,textarea,select
      :background-color #fff
    abbr
      :color #a00
  .error
    input,textarea,select
      :background-color #fcc
      :border 1px solid #f66
  .optional
    input,textarea,select
      :background-color #fff
  .errors
    :color #a00
    li
      :margin-left 1.2em
  p.inline-errors
    :color #f00
  p.inline-hints
    :color #777