form.formtastic
  :margin 0
  :padding 0
  ul, ol
    :margin 0
    :padding 0
    :list-style none
  li
    :margin 0
    :padding 0
    :list-style none
  fieldset
    :margin 0
    :padding 0
    :border 0
    :display inline-block
    &.inputs
    &.buttons
      :padding-left 25%
      li
        :float left
        :padding-right 0.5em
    ol li
      :margin-bottom 1.5em
      :display inline-block
      &:after
        :content "."
        :display block
        :height 0
        :clear both
        :visibility hidden
      &.required, &.optional, &.error
      label
        :display block
        :width 25%
        :float left
        :padding-top .2em
      li label
        :line-height 100%
        :padding-top 0
        input
          :line-height 100%
          :vertical-align middle
          :margin-top -0.1em
      fieldset
        :position relative
        legend
          :position absolute
          :width 25%
          :padding-top 0.1em
          span
            :position absolute
        ol
          :float left
          :width 74%
          :margin 0
          :padding 0 0 0 25%
          li
            :padding 0
            :border 0
      p
        &.inline-hints
          :color #666
          :margin 0.5em 0 0 25%
        &.inline-errors
          :color #cc0000
          :margin 0.5em 0 0 25%
      ul.errors
        :color #cc0000
        :margin 0.5em 0 0 25%
        :list-style square
        li
          :padding 0
          :border none
          :display list-item
      &.string input, &.numeric input, &.text textarea
        :width 74%
      &.boolean label
        :padding-left 25%
        :width auto
        input
          :margin 0 0.5em 0 0.2em
      &.radio fieldset ol
        :margin-bottom -0.6em
        li
          :margin 0.1em 0 0.5em 0
          label
            :float none
            :width 100%
            input
              :margin-right 0.2em
      &.date fieldset ol li, &.time fieldset ol li, &.datetime fieldset ol li
        :float left
        :width auto
        :margin 0 .3em 0 0
        label
          :display none
          input
            :display inline
            :margin 0
            :padding 0
    &:after
      :content "."
      :display block
      :height 0
      :clear both
      :visibility hidden
  legend
    :margin 0
    :padding 0
    :color #000
  input, textarea, select
    :margin 0
    :padding 0
    :font-family inherit
    :font-size inherit
    :font-weight inherit
    :font-size 100%
  p
    :margin 0
    :padding 0
  em, strong
    :font-style normal
    :font-weight normal
  abbr, acronym
    :border 0
    :font-variant normal
