- content_for :sidebar do
  .block
    .hd
    .bd
      %ul
        %li= link_to t("views.path.list_questions"), teacher_questions_path
        %li= link_to t("views.path.new_question"), new_teacher_question_path