- content_for :sidebar do
  .block
    .hd
    .bd
      %ul
        %li= link_to t("views.path.list_exams"), teacher_exams_path
        %li= link_to t("views.path.new_teacher_exam"), new_teacher_exam_path