.block
  .hd
    %h1 Editing account
  .bd
    - semantic_form_for :user, @user, :url => account_path, :html => { :method => :put } do |f|
      = f.input :password
      = f.input :password_confirmation
      - f.buttons do
        = f.submit "Commit"