.block
  .hd
    %h2 New question
  .bd
    - semantic_form_for @teacher_question do |f|
      = render :partial => 'form', :locals => { :f => f }
      - f.buttons do
        = f.commit_button "Commit"
= render :partial => 'sidebar/teacher_questions'
