.block
  .hd
  .bd
    - semantic_form_for(@teacher_answer) do |f|
      = f.input :teacher_question_id, :as => :hidden
      = f.input :content
      = f.input :points
      - f.buttons do
        = f.commit_button 'Commit'