%ul
  %li= link_to 'exams', exams_path
  - if current_user
    %li= link_to "Logout #{current_user.login}", user_session_path, :method => :delete
  - else
    %li= link_to "Login", new_user_session_path
