%ul#primary-navigation
  %li.first= link_to "Questions", teacher_questions_path
  %li.active= link_to "Exams", teacher_exams_path
  %li= link_to "Create exam for students", new_mass_exam_path
  %li.last= link_to "Students", students_path
