%ul#primary-navigation
  %li.first= menu_link_to 'teacher_questions', "questions", teacher_questions_path
  %li= menu_link_to 'teacher_exams', "exams", teacher_exams_path
  %li= menu_link_to ['mass_exams', 'exams'], "create exam for students", new_mass_exam_path
  %li.last= menu_link_to ['students', 'student_imports'], "students", students_path